/* body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container.light {
  background-color: #ffffff;
  color: #000000;
}

.app-container.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background-color: #444;
  color: white;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
} */
input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 10px;
}
